body {
    height: 100%;
    font-family: 'Inconsolata', monospace;
}

#canvas {
    background-color: black;
}

.error {
    color: red;
}

#overlay {
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 4px #404E5C;
    position: absolute;
    margin-top: 2em;
}

#github {
    margin-left: 1em;
    margin-bottom: 1em;
}

#instructions {
    margin: 0;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px #404E5C;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*  Music Player CSS credit: Cannon Man 
https://github.com/LtBackup/Cannon-Game */

.volumeBar {
    -webkit-appearance: none;
    width: 82px !important;
    height: 3px;
    margin-left: 0px;
    border-radius: 1.5px;
    background: linear-gradient(to right, black, white);
    opacity: .3;
    display: inline-block;
    transition-duration: 2000ms;
}
.volumeBar:hover {
    opacity: 1;
    transition-duration: 2000ms;
}
.volumeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
}
.fa-volume-off{
    position: absolute;
    left: 25px;
    top: -10px;
    display: block;
    cursor: pointer;
}
.fa-volume-up{
    position: absolute;
    right: 0px;
    top: -10px;
    display: block;
    cursor: pointer;
}
.version {
    font-size: 15px;
    color: white;
    padding: 18px 0px 0px 48px;
    font-weight: bold;
}
.version a {
    color: #fff;
}